h1{ 
    color: blueviolet; background-color: black;
}
p{background-color: aqua;}
h2{ color: rgb(8, 5, 81); background-color: antiquewhite;}
main{background-color: blueviolet;}
section{background-color: azure;}
header{background-color: rgb(245, 220, 237);}
html{background-color: blueviolet;}
div {
    background-image: url("mdn_logo_only_cohttps://tse4.mm.bing.net/th/id/OIP.WFxpkp9Mu5fC5jQI-mTukQHaG0?pid=ImgDet&rs=1lor.png");
  }