*:not(ol, ul) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol{
  list-style-type: disc;
}
html {
  background-color: rgb(6, 81, 75);
  color: whitesmoke;
}
header{
  padding: 2rem;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.lista1 {
  width: 33vw;
  border: 2px solid whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(9, 27, 28);
  border-radius: 6px;
  font-size: x-large;
}

table {
  width: 50vw;
  border: 2px solid whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(9, 27, 28);
  border-radius: 6px;
  margin-top: 3rem;
  font-size: x-large;
}

img {
  width: 1.5rem;
}

td {
  border: 2px solid whitesmoke;
  text-align: center;
}
